:root {
  --body-text-color: #757575;
  --logo-black-color: #000000;
  --logo-blue-color: #2196f3;
  --blue-color: #2196f3;
  --hover-focus-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #212121;
  --background-footer-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-team-color: #f5f4fa;
  --background-btn-portfolio-color: #f5f4fa;
  --button-hero-hover-color: #188ce8;
}

body {
  background-color: var(--white-color);
  color: var(--body-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.button-hero {
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* в макете не укзан ховер и фокус для данной кнопки, 
но в тз сказано, что все кнопки должны реагировать на ховер и фокус */
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hero-hover-color);
}
/*  */

.button-portfolio {
  color: var(--black-color);
  background-color: var(--background-btn-portfolio-color);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--hover-focus-color);
  color: var(--white-color);
}

/* heder */
.logo {
  color: var(--logo-black-color);
  text-decoration: none;
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.24;
}
.color-blue-logo {
  color: var(--logo-blue-color);
}
.site-nav .link {
  color: var(--black-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-focus-color);
}

.auth-nav .link {
  color: var(--body-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--hover-focus-color);
}

/* стилизация main */

.hero {
  background-color: var(--background-footer-color);
  color: var(--white-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.spesials-title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.spesials p {
  line-height: 1.71;
}

.team-title,
.doing-title {
  color: var(--black-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--background-team-color);
}
.team p {
  line-height: 1.19;
}

.name {
  color: var(--black-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* footer */

.footer {
  background-color: var(--background-footer-color);
}
.color-white {
  color: var(--white-color);
}

.footer .link {
  color: var(--footer-link-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--hover-focus-color);
}
.footer p,
.footer .link {
  line-height: 1.71;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
