body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.button-hero {
  color: #ffffff;
  background-color: #2196f3;
}
.button-portfolio {
  color: #212121;
  background-color: #f5f4fa;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* heder */
.logo {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.24;
}
.color-blue {
  color: #2196f3;
}
.site-nav .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav .link {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/* стилизация main */

.hero {
  background-color: #2f303a;
  color: #ffffff;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features {
}

.features-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.title {
  color: #212121;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.name {
  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* footer */

.footer {
  background-color: #2f303a;
}
.color-white {
  color: #ffffff;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .link:hover,
.footer .link:focus {
  color: #2196f3;
}
